<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel='stylesheet' type='text/css' href='/style.css' />
		<title>GET and POST checker</title>
	</head>
	
	<body>
		{{{body}}}
	</body>
</html>